body{
    font-family: 'Gloria Hallelujah', cursive;
    text-align: center;
}

.fetching-now{
    background-color: lightgreen;   
    opacity: 0.2;
}

.no-fetch{
    color:purple;
}

.card .card-img-overlay{
    text-align: left;
    padding-top:1px;
    padding-left:1px;
}